
  <div  class="row">
    <form [formGroup]="LoginForm"  (ngSubmit)="login()"  class="col-md-5 offset-md-4">

  <div class="form-group ">
    <label >username</label>
    <input class="form-control" type="text" formControlName="username"   >
    <div
    *ngIf="submitted && lc.username.errors"
    class="alert alert-warning"
  >
    <div *ngIf="lc.username.errors.required">Username is required</div>
  </div>
  </div>
  <div class="form-group">
    <label >password</label>
    <input class="form-control" type="password" formControlName="password"   >
    <div
    *ngIf="submitted && lc.password.errors"
    class="alert alert-warning"
  >
    <div *ngIf="lc.password.errors.required">password is required</div>
  </div>
  </div>

  <button type="submit"  class="btn btn-primary">Login</button>
</form>
</div>